<button (click)="run()">Run algorithm</button>

<div style="display: flex; justify-content: space-around">
  <table>
  <thead>
  <tr>
    <th>Population size</th>
    <th>Best Individual</th>
    <th>Generations</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ex of tableData">
    <td>{{ex.populationSize}}</td>
    <td>{{ex.bestIndividual | json}}</td>
    <td>
      <div class="table-columns__header">generation number | Best in gen</div>
      <div *ngFor="let gen of ex.generations" class="table-columns__data">
        <span>{{gen.number}}</span>:
        <span>{{gen.bestInGen | json}}</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<chart-comp [tableData]="tableData"></chart-comp>
</div>
